@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* safer than @apply */
body {
  background-color: #f8fafc;
  color: #111827;
}
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

body .skiptranslate iframe{
  display: none;
}